.App-body {
  background-color: ghostwhite;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #282c34;
}

h2 {
  font-size: 32px;
  margin: 1rem 0.5rem 0.5rem;
}

form {
  margin: 0.5rem;
}

input {
  height: 40px;
  width: 300px;
  margin: 0.5rem;
  font-size: 24px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border-color: #b6b6b3;
}

button {
  height: 60px;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 24px;
  color: white;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.adicionar {
  background-color: #007acc;
  border-color: #007acc;
}

.remover {
  background-color: red;
  border-color: red;
}

button:hover {
  opacity: 0.85;
}

button:disabled {
  background-color: gray;
  border-color: gray;
  transition: 0.5s ease-in-out;
}

ol {
  width: 460px;
  transition: 5s ease-in-out;
}

li {
  font-size: 2rem;
  margin-bottom: 1rem;
}
